# python caches and package constructs
__pycache__
*.egg-info
dist/
build/

# Jupyter artifacts
.ipynb_checkpoints
**/.~*

# Typescript build artifacts
*.tsbuildinfo

# yarn
.yarn-integrity
node_modules/
*.tgz
yarn-error.log

# Config server DB
/packages/config-server/*.sql

# Local registry
.verdaccio

# Demos
/demos/Untitled*.ipynb
*.ipynb
!/demos/**/*.ipynb
*.part
!/parts/**/*.part

# user folders
/testing
