.m-runnable-example {
    padding: 5px;
    margin-left: 5px;
    display: inline-block;
    min-width: 200px;
    border-left: 1px solid var(--m-border-color, lightgrey);
    background: var(--m-callout-ui-color, white);
}

.m-runnable-example > .m-example-btn {
    margin-top: 10px;
    width: 8em;
}