div.rc-select-dropdown {
    z-index: 100000;
    max-height: 300px;
    overflow-y: scroll;
}

.m-Button {
    width: 100%;
    height: 100%;
    /* this override is required because of blueprint.js */
    box-sizing: border-box;
}

.m-TextInput>span {
    min-height: 22px;
    display: flex;
}

.m-TextInput>span>label {
    flex: 0 0 35%;
}

.m-TextInput>span>input {
    width: 0;
    flex: 1 0 60%;
}

.m-ResizeGrippy {
    width:10px;
    height:10px;
    right:0;
    bottom:0;
    position:absolute !important;
    float:left;
    cursor: nwse-resize !important;
    z-index:1000;
}