.m-ListBox {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.m-ListBox-item {
    height: 1em;
    line-height: 1em;
    padding: 10px;
    display: flex;
}

.m-ListBox-item:hover:not(.m-selected) {
    background: hsl(0, 0%, 90%);
}

.m-ListBox-item:hover.m-selected {
    background-color: hsl(199, 98%, 28%)
}

.m-selected {
    background:hsl(199, 98%, 38%);
    color: white;
}

.m-ListBox-item.m-editing {
    padding: 5px;
    height: calc(1em + 10px); /* padding top and bottom */
}

.m-editing > input {
    flex: 1 0 0;
    padding: 5px;
}